body
{ background: linear-gradient(black, rgb(42, 0, 66));
  background-size: cover ;
  color:white;
  /*-webkit-text-stroke: 1px; -webkit-text-stroke-color: rgba(0, 0, 0, 1);*/

  }
.transparant{
  background-color: transparent;
  color:white;
}
